.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  height: calc(100vh -86px);
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing+.inputSpacing{
  margin-top: 1rem;
}

.errorMessage {
  color: rgb(158, 60, 60);
  font-size: 8px;
  text-align: center;
  width: 100%;
}

.error {
  border: rgb(158, 60, 60) solid 1px;
}